<figure class="app container">
    <!-- ko if: !isConnected() -->
    <div class="row center">
        <div class="col s12">
            <button class="btn btn-large blue" data-bind="click: connect, disable: isConnecting">
                <i class="appicons left">onedrive</i>
                <span data-bind="i18n: !isConnecting() ? 'connect' : 'connecting'"></span>
            </button>
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: isConnected() -->
    <div class="row center">
        <div class="col s12">
            <button class="btn btn-large red" data-bind="click: disconnect">
                Sign out
            </button>            
        </div>
    </div>
    <!-- /ko -->
    <!-- ko if: files().length -->
    <div class="row">
        <div class="col s12">
            <ul class="collection" data-bind="foreach: files">
                <li class="collection-item" data-bind="text: name"></li>
            </ul>
        </div>
    </div>
    <!-- /ko -->
</figure>